# Backup files
*~
*.bak

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Automake products
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
mingw32-config.cache
missing
mkinstalldirs
stamp-h
stamp-h.in
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4


# Archives
*.tar
*.tar.gz
*.tar.bz2
*.zip
*.tar.xz
*.tar.lz
